@font-face {
  font-family: "Lexend";
  src: url("./assets/fonts/Lexend-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceMono";
  font-weight: 400;
  src: url("./assets/fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceMono-Italic";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/SpaceMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceMono";
  font-weight: 500;
  src: url("./assets/fonts/SpaceMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "SpaceMono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none !important;
}

* {
  cursor: none !important;
}

h1,
h2,
h3,
p {
  font-family: "SpaceMono";
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
