@font-face {
  font-family: "Lexend";
  src: url("./assets/fonts/Lexend-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Lexend";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

h1,
h2,
h3,
p {
  font-family: "Lexend";
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
